<!--
var (
    bComment = []byte{'#'}
    bEmpty   = []byte{}
    bEqual   = []byte{'='}
    bDQuote  = []byte{'"'}
)
-->
<?xml version="1.0" encoding="utf-8"?>
<appSettings>
<!--网站域名端口-->>
<webUrl>1</webUrl>
<webPort>1</webPort>

<!--MSSQL Server 127.0.0.1\\SQLEXPRESS-->>
<mssql>
    <dataSource>.</dataSource>
    <database>gowebblog</database>
    <windows>false</windows>
    <user>sa</user>
    <password>zld607608</password>
</mssql>

<!--日志输出文件夹路径-->>
<logPath>blogLog/</logPath>

<!--静态文件路径-->>
<staticPath>1</staticPath>
</appSettings>
